@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
  --primary-color:#00e0be;
  --secondary-color:rgb(223, 223, 223);
  --primary-transparent:#00e0be50;
}

body{
  margin:0;
}
*{
  font-family: 'Lato', sans-serif;
  transition: all 0.2s;
}